---
layout: ncrc_default
title: Home
---

{% include ncrc_header.html %}



<!-- SLIDER
================================================== -->
<div id="ei-slider" class="ei-slider">
	<ul class="ei-slider-large">
		<li>
		<img src="/ncrc/images/4.jpg" alt="image01" class="responsiveslide">
		<div class="ei-title">
			<h3>Welcome</h3>
			<h2>To NCRC 2016</h2>
		</div>
		</li>
		<li>
		<img src="/ncrc/images/2.jpg" alt="image02" class="responsiveslide">
		<div class="ei-title">
			<h3>Learn</h3>
			<h2>In Keynotes and Panels</h3>
		</div>
		</li>
		<li>
		<img src="/ncrc/images/1.jpg" alt="image03" class="responsiveslide">
		<!--photo credit: <a href="http://www.flickr.com/photos/8749778@N06/12471488793">
		Charles River Winter Night Panorama</a> via
		<a href="http://photopin.com">photopin</a>
		 <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a>!-->
		<div class="ei-title">
			<h3>Connect</h3>
			<h2>To your fellow researchers</h2>
		</div>
		</li>
	</ul>
	<!-- slider-thumbs -->
	<ul class="ei-slider-thumbs">
		<li class="ei-slider-element">Current</li>
		<li><a href="#">Slide 1</a></li>
		<li><a href="#">Slide 2</a></li>
		<li><a href="#">Slide 3</a></li>
	</ul>
</div>
<div class="minipause">
</div>
<!-- ANIMATED COLUMNS
================================================== -->
<!--
<div class="row">
	<div class="twelve columns">
		<ul class="ca-menu">
			<li>
			<a href="/for_students/s_getting_started">
			<span class="ca-icon"><i class="fa fa-users"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Community</h2>
				<h3 class="ca-sub">See what we have planned for 2016</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="/for_students/s_database/">
			<span class="ca-icon"><i class="fa fa-briefcase"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Sponsor</h2>
				<h3 class="ca-sub">Help us fund the conference.  We need your support!</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="/for_students/s_resource_library/">
			<span class="ca-icon"><i class="fa fa-file"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Get Involved</h2>
				<h3 class="ca-sub">See what you can do</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="/conferences/">
			<span class="ca-icon"><i class="fa fa-bullhorn"></i></span>
			<div class="ca-content">
				<h2 class="ca-main">Apply</h2>
				<h3 class="ca-sub">Apply to attend and present at NCRC 2016</h3>
			</div>
			</a>
			</li>
		</ul>
	</div>
</div>
!-->

<!-- CONTENT
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Why Come?</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>Learn from the Best</h5>
		<p>
			 "I was completely blown away by the quality of the plenary sessions that I attended. I could not have possibly imagined that undergraduates could present so well. Bravo!"
		</p>
	</div>
	<div class="four columns">
		<h5>Connect with Peers</h5>
		<p>
			 "Not only did I meet amazing faculty at NCRC, but amazing peers as well. NCRC provided me the opportunity to get closer to my research while making close friends in the process.”
		</p>
	</div>
	<div class="four columns">
		<h5>Present Your Research</h5>
		<p>
			 "Having the opportunity to present my research to such a talented group was a wonderful opportunity. Others' questions about my poster gave me excellent feedback on my work."
		</p>
	</div>
</div>
<div class="hr">
</div>

{% include ncrc_footer.html %}
