<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/hsrc/index.html">
			<img src="/hsrc/images/hsrclogo.png" class="logoimage" alt="info">
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
			<a href="/hsrc/index.html">Home</a>
			</li>
			<li><a href="/hsrc/hsrc_2015/mission">Mission</a></li>
			<li>
			<a href="/hsrc/about">About</a>
			</li>
			<li><a href="/hsrc/hsrc_2015/programming">Programming</a></li>
			<li><a href="/hsrc/hsrc_2015/schedule">Schedule</a></li>
				<li><a href="/hsrc/hsrc_2015/faq">FAQ</a></li>
			<li>
			<a href="/hsrc/apply">Apply</a>
			</li>
		</nav>
	</div>
</div>
<div class="clear">
</div>
