<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/ncrc/index.html">
			<img src="/ncrc/images/ncrc-square-logo.jpg" class="logoimage" alt="info">
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li>
			<a href="/ncrc/about">About</a>
			<ul>
				<li><a href="/ncrc/about/ncrc">NCRC</a></li>
				<li><a href="/ncrc/about/hcura">HCURA</a></li>
				<li><a href="/ncrc/about/testimonials">Testimonials</a></li>
			</ul>
			</li>
			<li>
			<a href="/ncrc/ncrc_2016">NCRC 2016</a>
			<ul>
				<li><a href="/ncrc/ncrc_2016/schedule_2016">Schedule</a></li>
				<li><a href="/ncrc/ncrc_2016/keynotes_2016">Keynote Speakers</a></li>
				<li><a href="/ncrc/ncrc_2016/plenary_2016">Plenary Speakers</a></li>
				<li><a href="/ncrc/ncrc_2016/faq">FAQ</a></li>
			</ul>
			</li>
			<li>
			<a href="/ncrc/past_conferences">Past Conferences</a>
			<ul>
				<li><a href="/ncrc/past_conferences/ncrc_2015">NCRC 2015</a></li>
				<li><a href="/ncrc/past_conferences/ncrc_2014">NCRC 2014</a></li>
				<li><a href="/ncrc/past_conferences/ncrc_2013">NCRC 2013</a></li>
				<li><a href="/ncrc/past_conferences/ncrc_2012">NCRC 2012</a></li>
			</ul>
			</li>
			<li class="current">
			<a href="/ncrc/get_involved/">Get Involved</a>
			</li>
			<li class="current">
			<a href="https://www.sponsormyevent.com/national-collegiate-research-conference-harvard-university-cambridge">Sponsor</a>
			</li>
			<li class="current">
				<li><a href="/ncrc/sponsors/">Sponsors</a></li>
			</li>
		</nav>
	</div>
</div>
<div class="clear">
</div>
