<!-- FOOOTER
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		 HCURA is a organization of undergraduates at Harvard dedicated to promoting undergraduate research.
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<a class="social facebook" href="https://www.facebook.com/harvardresearch"></a>
	</div>
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="twelve columns">
			 &copy;<span class="small">Copyright <a href="/index.html">Harvard College Undergraduate Research Association</a>.  Photo Credit: <a href="http://www.flickr.com/photos/8749778@N06/12471488793">
	 		Charles River Winter Night Panorama</a></span>.
		</div>
	</div>
</div>
