---
layout: hsrc_default
title: Home
---

{% include hsrc_header.html %}

<div class="centersectiontitle">
		<h5>The pre-eminent platform for exceptional high school students in the sciences.</h5>
			<div class="centersectiontitle">
		<h4>Saturday, December 5, 2015 at Harvard University.</h4>
		<h5>Applications are due on Wednesday, November 25 at 11:59 PM, and decisions will be released via email later that weekend.</h5>
	</div>
</div>
<!-- SLIDER
================================================== -->
<div id="ei-slider" class="ei-slider">
	<ul class="ei-slider-large">
		<li>
		<img src="/hsrc/images/hsrc_bg_1.jpg" alt="image01" class="responsiveslide">
		<div class="ei-title">
			<h3>Explore</h3>
			<h2>Frontiers of Science</h2>
		</div>
		</li>
		<li>
		<img src="/hsrc/images/2.jpg" alt="image02" class="responsiveslide">
		<div class="ei-title">
			<h3>Learn</h3>
			<h2>From Harvard Researchers</h3>
		</div>
		</li>
		<li>
		<img src="/ncrc/images/4.jpg" alt="image03" class="responsiveslide">
		<!--photo credit: <a href="http://www.flickr.com/photos/8749778@N06/12471488793">
		Charles River Winter Night Panorama</a> via
		<a href="http://photopin.com">photopin</a>
		 <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a>!-->
		<div class="ei-title">
			<h3>Evolve</h3>
			<h2>HSRC 2015 at Harvard University</h2>
		</div>
		</li>
	</ul>
	<!-- slider-thumbs -->
	<ul class="ei-slider-thumbs">
		<li class="ei-slider-element">Current</li>
		<li><a href="#">Slide 1</a></li>
		<li><a href="#">Slide 2</a></li>
		<li><a href="#">Slide 3</a></li>
	</ul>
</div>
<div class="minipause">
</div>

<!-- CONTENT
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Why Attend the Harvard Science Research Conference?</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>Learn from the Best</h5>
		<p>
			Hear from Harvard University faculty about cutting edge research in the natural sciences and engineering; be personally mentored by Harvard University students involved in science research
		</p>
	</div>
	<div class="four columns">
		<h5>Connect with Peers</h5>
		<p>
			Have the opportunity to meet some of the most talented high school students today—engage in discussion and exchange ideas with each other
		</p>
	</div>
	<div class="four columns">
		<h5>Gain Skills</h5>
		<p>
			 Participate in workshops on skills including public speaking and presentation, reading scientific literature, developing and writing personal statements, and others!
		</p>
	</div>
</div>
<div class="hr">
</div>

{% include hsrc_footer.html %}
