<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>NCRC - {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- CSS Files-->
      <link rel="stylesheet" href="/ncrc/css/style.css">

      <link rel="stylesheet" href="/ncrc/css/skins/blue.css">

      <link rel="stylesheet" href="/ncrc/css/responsive.css">
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65212299-2', 'auto');
  ga('send', 'pageview');

  </script>
  </head>
  <body>
    <div>
        {{ content }}
    </div>
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Javascript files placed here for faster loading -->
    <script src="/ncrc/scripts/foundation.min.js"></script>
    <script src="/ncrc/scripts/jquery.easing.1.3.js"></script>
    <script src="/ncrc/scripts/elasticslideshow.js"></script>
    <script src="/ncrc/scripts/jquery.carouFredSel-6.0.5-packed.js"></script>
    <script src="/ncrc/scripts/jquery.cycle.js"></script>
    <script src="/ncrc/scripts/app.js"></script>
    <script src="/ncrc/scripts/modernizr.foundation.js"></script>
    <script src="/ncrc/scripts/slidepanel.js"></script>
    <script src="/ncrc/scripts/scrolltotop.js"></script>
    <script src="/ncrc/scripts/hoverIntent.js"></script>
    <script src="/ncrc/scripts/superfish.js"></script>
    <script src="/ncrc/scripts/responsivemenu.js"></script>
  </body>
</html>
